
<ol class="breadcrumb">
  <li><a href="#/domains">All Domains</a></li>
  <li class="active">{{domain}}</li>
</ol>

<div class="btn-group btn-group-sm">
  <label class="btn btn-default" ng-model="selectedPageStatus" btn-radio="'All'"   ><strong>Total {{statistic.total || 0}}</strong></label>
  <label class="btn btn-default" ng-model="selectedPageStatus" btn-radio="'Queued'"><strong class="text-info">Queued {{statistic.queued || 0}}</strong></label>
  <label class="btn btn-default" ng-model="selectedPageStatus" btn-radio="'Cached'"><strong class="text-success">Cached {{statistic.cached || 0}}</strong></label>
  <label class="btn btn-default" ng-model="selectedPageStatus" btn-radio="'Failed'"><strong class="text-danger">Failed {{statistic.failed || 0}}</strong></label>
</div>

<button class="btn btn-primary btn-sm" ng-show="selectedPageStatus == 'Failed'" 
  ng-click="retryAll()" ng-disabled="statistic.failed == null">
  <strong>Retry All</strong>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="page in pages">
      <td>{{page.url}}</td>
      <td>{{page.created_at| date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{page.last_cached_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{page.status_code}}</td>
      <td>
        <button type="button" class="btn btn-default btn-xs" title="Remove">
          <i class="fa fa-trash-o"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs" title="Recrawl">
          <i class="fa fa-refresh"></i>
        </button>
        <a href="/pages/{{page.md5}}" target="_blank" ng-show="page.status_code == 200" class="btn btn-default btn-xs" title="View">
          <i class="fa fa-link"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <pagination total-items="totalPages" ng-model="currentPage" max-size="{{10}}" ng-change="pageChanged()"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    class="pagination" boundary-links="true"></pagination>
</div>
